# EMPLOYEE MANAGEMENT SYSTEM WITH USING MYSQL SERVER AS DATABASE.

In [ ]:
print("="*55)
print("********EMPLOYEE MANAGAMENT SYSTEM*********")
print("="*55)
import pymysql
def newrecord():
    conn=pymysql.connect(host='localhost',user='root',password='Admin',db='demo')
    cur=conn.cursor()
    i_d = int(input("Enter ID : "))
    name = input("Enter Name : ")
    age = int(input("Enter Age : "))
    salary = float(input("Enter Salary : "))
    city = input("Enter City : ")
    
    cur.execute("INSERT INTO emp (id, name, age, salary, city) VALUES (%s, %s, %s, %s, %s)",(i_d, name, age, salary, city))
    conn.commit()
    print("‚úÖEmployee Inserted Successfully!")
    conn.close()
def search_record():
    conn=pymysql.connect(host='localhost',user='root',password='Admin',db='demo')
    cur=conn.cursor()
    i_d=int(input("Enter ID :"))
    cur.execute("SELECT * FROM emp WHERE id = %s",(i_d,))
    data=cur.fetchmany(1)
    if data:
        for row in data:
            print("ID :",row[0])
            print("Name :",row[1])
            print("Age :",row[2])
            print("Salary :",row[3])
            print("City :",row[4],"\n")
    else:
        print("‚ùåData Not found")
    conn.close()
def dis_all_record():
    conn=pymysql.connect(host='localhost',user='root',password='Admin',db='demo')
    cur=conn.cursor()
    cur.execute("select * from emp")
    data=cur.fetchall()
    for row in data:
        print("ID :",row[0])
        print("Name :",row[1])
        print("Age :",row[2])
        print("Salary :",row[3])
        print("City :",row[4],"\n")
    conn.close()
def delete_rec():
    conn=pymysql.connect(host='localhost',user='root',password='Admin',db='demo')
    cur=conn.cursor()
    i_d=int(input("Enter ID :"))
    cur.execute("delete from emp where id=%s",(i_d,))
    conn.commit()
    print("‚úÖRecord deleted successfully!")
    conn.close()
def modify_rec():
    conn=pymysql.connect(host='localhost',user='root',password='Admin',db='demo')
    cur=conn.cursor()
    i_d=int(input("Enter ID :"))
    cur.execute("select * from emp where id = %s",(i_d,))
    data=cur.fetchall()
    if data:
        for row in data:
            print("ID :",row[0])
            print("Name :",row[1])
            print("Age :",row[2])
            print("Salary :",row[3])
            print("City :",row[4],"\n")
    else:
        print("‚ùåData Not found")
    print("1. name")
    print("2. age")
    print("3. salary")
    print("4. city")
    num=int(input("choose any number :"))
    if num==1:
        new_name = input("Enter new name: ")

        cur.execute("UPDATE emp SET name = %s WHERE id = %s", (new_name, i_d))
        conn.commit()
        print("‚úÖEmployee Name Updated Successfully!")
        cur.execute("SELECT * FROM emp WHERE id = %s", (i_d,))
        data = cur.fetchmany(1)
        for row in data:
            print("ID:", row[0])
            print("Name:", row[1])
            print("Age:", row[2])
            print("Salary:", row[3])
            print("City:", row[4], "\n")
    elif num==2:
        new_age = int(input("Enter new Age: "))

        cur.execute("update emp SET age = %s WHERE id = %s", (new_age, i_d))
        conn.commit()
        print("‚úÖEmployee Age Updated Successfully!")
        cur.execute("select * from emp WHERE id = %s", (i_d,))
        data = cur.fetchmany(1)
        for row in data:
            print("ID:", row[0])
            print("Name:", row[1])
            print("Age:", row[2])
            print("Salary:", row[3])
            print("City:", row[4], "\n")
    elif num==3:
        new_salary = float(input("Enter new salary: "))

        cur.execute("UPDATE emp SET salary = %s WHERE id = %s", (new_salary, i_d))
        conn.commit()
        print("‚úÖEmployee Salary Updated Successfully!")
        cur.execute("SELECT * FROM emp WHERE id = %s", (i_d,))
        data = cur.fetchmany(1)
        for row in data:
            print("ID:", row[0])
            print("Name:", row[1])
            print("Age:", row[2])
            print("Salary:", row[3])
            print("City:", row[4], "\n")
    elif num==4:
        new_city = input("Enter new city: ")
        cur.execute("UPDATE emp SET city = %s WHERE id = %s", (new_city, i_d))
        conn.commit()
        print("‚úÖEmployee City Updated Successfully!")
        cur.execute("SELECT * FROM emp WHERE id = %s", (i_d,))
        data = cur.fetchmany(1)
        for row in data:
            print("ID:", row[0])
            print("Name:", row[1])
            print("Age:", row[2])
            print("Salary:", row[3])
            print("City:", row[4], "\n")
    conn.close()
while(True):
    print("------------------------------------------------------")
    print("MAIN MENU")
    print("1. ADD NEW RECORD")
    print("2. SEARCH RECORD")
    print("3. DISPLAY ALL RECORD")
    print("4. DELETE RECORD")
    print("5. MODIFY RECORD")
    print("6. EXIT")

    ch=int(input("Enter your choice :"))
    print("---------------------------")
    if ch==1:
        newrecord()
    elif ch==2:
        search_record()
    elif ch==3:
        dis_all_record()
    elif ch==4:
        delete_rec()
    elif ch==5:
        modify_rec()
    elif ch==6:
        print("üñêExiting... Thank you!")
        break
    else:
        print("‚ùåWrong Choice")
    c=input("Do you want to continue this loop(y/n) :")
    if c=="y" or c=="Y":
        continue
    else:
        print("üñêExiting... Bye Bye(Radhe Radhe)!")
        break